# Entorno y secretos
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.venv/
env/
ENV/

# Distribución
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
